---
import { Image } from "astro:assets";

import DateTime from "@components/DateTime.astro";

const { review } = Astro.props;
const { data, slug } = review;
---

<article class="review-summary">
  {data?.coverSrc && (
    <Image
      src={data.coverSrc}
      alt={data.coverAlt || null}
      class="book-cover"
      format="webp"
      width={320}
      decoding="async"
      loading="lazy"
    />
  )}

  <div class="preview">
    <DateTime date={data.pubDate} />
    <h3><a href={`/reviews/${slug}`}>{data.title}</a></h3>
    <h4>by {data.author}</h4>
    <p class="review-detail">{data.publisher}, {data.medium}, {data.pages} pages ({data.language})</p>
  </div>
</article>

<style>
  .review-summary {
    font-size: var(--step-0);
    margin: 0 0 4em ;
    display: grid;
    gap: 1.5em;
    grid-template-columns: minmax(20rem, auto) 1fr;
  }

  .book-cover {
  }

  .book-cover {
    display: block;
    width: 100%;
    max-width: 32rem;
    height: auto;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.9), 0 0 0 4px rgba(0, 0, 0, 0.2);
  }

  h3 {
    margin: 0.25em 0 0;
  }

  h4 {
    margin: 0.25em 0 0.5em;
  }

  @media screen and (max-width: 768px) {
    .review-summary {
      grid-template-columns: auto 1fr;
    }

    .book-cover {
      max-width: 20rem;
    }
  }

  @media screen and (max-width: 480px) {
    .book-cover {
      max-width: 12rem;
    }
  }
</style>
