---
import { getCollection } from "astro:content";

import PageLayout from "@layout/PageLayout.astro";
import PageHeader from "@components/layout/PageHeader.astro";
import TaxonomyTermList from "@components/TaxonomyTermList.astro";
import { BLOG_CATEGORIES_PATH } from "@consts";

const posts = await getCollection("posts", ({ data }) => (
  !data.draft && data.pubDate <= new Date()
));

const categories = [...new Set(posts.flatMap(({ data }) => data.categories))];

---

<PageLayout title="Categories">
  <PageHeader title="Categories">
    <p>All categories.</p>
  </PageHeader>

  <TaxonomyTermList
    terms={categories}
    basePath={BLOG_CATEGORIES_PATH}
  />
</PageLayout>
