---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import PageLayout from "@layout/PageLayout.astro";
import PageHeader from "@components/layout/PageHeader.astro";
import PageContent from "@components/layout/PageContent.astro";
import ReviewSummary from "@components/reviews/ReviewSummary.astro";
import Pagination from "@components/Pagination.astro";
import { REVIEWS_PATH, PAGE_SIZE } from "@consts";

export const getStaticPaths = (async ({ paginate }) => {
  const reviews = await getCollection("reviews", ({ data }) => (
    !data.draft && data.pubDate < new Date()
  ));

  const sortedReviews = [...reviews].sort((a, b) => (
    Number(new Date(b.data.pubDate)) - Number(new Date(a.data.pubDate))
  ));

  return paginate(sortedReviews, {
    pageSize: PAGE_SIZE,
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

---

<PageLayout title="Reviews">
  <PageHeader title="Reviews">
    <p>I love to read and particularly enjoy listening to unabridged audio books during long walks. I prefer classic fiction for audio books and modern non-fiction for reading, but of course that's not a rule.</p>
  </PageHeader>

  <PageContent>
    <ul class="post-list">
      {page.data.map((review) => (
        <li class="post-list__item">
          <ReviewSummary {review} />
        </li>
      ))}
    </ul>
  </PageContent>

  <Pagination
    {page}
    basePath={`${REVIEWS_PATH}/`}
  />
</PageLayout>
