---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import PageLayout from "@layout/PageLayout.astro";
import PageHeader from "@components/layout/PageHeader.astro";
import PageContent from "@components/layout/PageContent.astro";
import DateTime from "@components/DateTime.astro";

export const getStaticPaths = (async () => {
  const reviews = await getCollection("reviews", ({ data }) => (
    !data.draft && data.pubDate < new Date()
  ));

  const sortedReviews = [...reviews].sort((a, b) => (
    Number(new Date(b.data.pubDate)) - Number(new Date(a.data.pubDate))
  ));

  return sortedReviews.map((review) => {
    return {
      params: {
        slug: review.slug,
      },
      props: {
        review,
      },
    };
  });
}) satisfies GetStaticPaths;

const { review } = Astro.props;
const { data } = review;
const { Content } = await review.render();

---

<PageLayout title={`Review: ${data.title} by ${data.author}`}>
  <PageHeader title={`${data.title}`}>
    <div class="sub-heading" role="heading">by {data.author}</h2>
    <div class="review-details">
      <p>
        <span class="muted">Published by</span>{" "}
        <span>{data.publisher}</span>{" "}
        <span class="muted">on</span>{" "}
        <DateTime date={data.bookPubDate} />
      </p>
    </div>
  </PageHeader>

  <PageContent type="post">
    <div class="book">
      {data?.coverSrc && (
        <figure class="book-cover">
          <Image
            src={data?.coverSrc}
            alt={data?.coverAlt || null}
            format="webp"
            width={240}
            decoding="async"
            loading="lazy"
          />
        </figure>
      )}

      <Content />
    </div>
  </PageContent>
</PageLayout>

<style>
  .book {
    gap: calc(3 * var(--step-1));
    max-width: var(--max-text-width);
    margin: 0 auto;
    word-break: break-word;
    text-justify: inter-word;
    overflow-wrap: break-word;
  }

  /*
  Floating the book looks best. An old-school clear
  both after the container, will make sure the float
  does not ruin the layout.
  */
  .book::after {
    content: "";
    display: block;
    clear: both;
  }

  .book-cover {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.9), 0 0 0 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 0.5em 1.5em 0.5em 0;
    max-width: 48rem;
    /* See above for the clearing */
    float: left;
  }

  .book-cover img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .review-details {
    font-size: var(--step-0);
  }

  .sub-heading[role="heading"] {
    font-size: var(--step-3);
    margin: -0.5em 0 0.75em;
  }

  @media screen and (max-width: 820px) {
    .book-cover {
      float: none;
      margin: 0 auto 2em;
      max-width: 20rem;
    }
  }
</style>
