---
import avatar from "@static/images/profile.jpg";
import { data, type Work } from "@data/cv";

import { Image } from "astro:assets";
import WideLayout from "@layout/WideLayout.astro";

function formatList(list: string[]) {
  return new Intl.ListFormat("en", {
    style: "long",
    type: "conjunction",
  }).formatToParts(list);
}
---

<WideLayout>
  <header class="intro">
    <Image
      src={avatar}
      format="webp"
      loading="lazy"
      height={360}
      alt="Daniel Stopp"
      class="avatar"
    />

    <hgroup>
      <h1>Daniel Stopp</h1>
      <p>Full-Stack Entwickler</p>
    </hgroup>
  </header>

  <aside class="skills">
    <h2>Fähigkeiten</h2>
    <ul
      role="list"
      class="skill-list"
    >
      <li>
        <h3>Kontakt</h3>
        <p>Rosenfelder Ring 54</p>
        <p>10315, Berlin</p>
      </li>

      <li>
        <h3>Telefon</h3>
        <p><a href="tel:+49 (0) 177/838 80 13">+49 (0) 177/838 80 13</a></p>
      </li>

      <li>
        <h3>E-Mail</h3>
        <p><a href="mailto:daniel@stopp.dev">daniel@stopp.dev</a></p>
      </li>

      <li>
        <h3>Homepage</h3>
        <p><a href="/">daniel.stopp.dev</a></p>
      </li>

      <li>
        <h3>Sprachen</h3>
        <p>Deutsch (Muttersprache)</p>
        <p>Englisch (Verhandlungssicher)</p>
      </li>

      <li>
        <h3>Stärken</h3>
        <p>lernwillig, sorgfältig, teamfähig, kommunikativ, verlässlich</p>
      </li>

      <li>
        <h3>Programmiersprachen</h3>
        <p>JavaScript/TypeScript, Go, Elixir, Python</p>
      </li>

      <li>
        <h3>Frameworks/Bibliotheken</h3>
        <p>
          Chi, Echo, FastAPI, Phoenix Framework, SvelteKit, React, Vue.js, Flask, Bootstrap, jQuery, Tailwind, Express,
          Axum, SQLAlchemy, SQLx, GORM
        </p>
      </li>

      <li>
        <h3>Methodologien</h3>
        <p>Agile, Scrum, DDD, TDD, FP, OOP</p>
      </li>

      <li>
        <h3>Cloud/VPS/Server</h3>
        <p>
          DigitalOcean, Fly.io, Hetzner, Render, Vultr, Heroku, Let’s Encrypt, Traefik, NGINX, Apache, Fail2Ban, Bash,
          zsh
        </p>
      </li>

      <li>
        <h3>Werkzeuge</h3>
        <p>
          Vite, Docker, Docker Compose, npm, Hex, pip, GitLab CI/CD, Jira, GitHub, Monday, Neovim, TMUX, Figma, Mermaid,
          drawSQL
        </p>
      </li>

      <li>
        <h3>Datenbanken</h3>
        <p>PostgreSQL, MySQL, SQLite, MariaDB, MongoDB, Redis</p>
      </li>
    </ul>
  </aside>

  <section class="experience">
    <h2>Erfahrung</h2>
    <ul
      role="list"
      class="experience-list"
    >
      {
        data.work.map((item: Work) => (
          <li>
            <article>
              <header>
                <h3>
                  <span>{item.title}</span> (<a href={item.employer.href}>{item.employer.name}</a>)
                </h3>
              </header>

              <section class="body">
                <dl class="details">
                  <dt>Dauer:</dt>
                  <dd>
                    {item?.to ? "" : "Seit"} {item.from} {item?.to ? `bis ${item.to}` : ""}
                  </dd>
                  <dt>Aufgaben:</dt>
                  <dd>
                    {formatList(item.tasks).map((item: any) =>
                      item.type === "element" ? <span>{item.value}</span> : item.value,
                    )}
                  </dd>
                </dl>

                <div class="description">{item.description}</div>
              </section>
            </article>
          </li>
        ))
      }
    </ul>
  </section>
</WideLayout>

<style>
  .intro {
    display: contents;
  }

  hgroup {
    background-color: var(--color-box-muted);
    box-shadow:
      inset 0px 1px 0px var(--color-box-border),
      inset 0px -1px 0px var(--color-box-border);
    padding: 1em var(--default-side-padding) 2em;
  }

  .avatar {
    max-width: 100%;
    height: auto;
  }

  .skills p {
    margin-block: 0;
  }

  .skills h3 {
    margin-block-end: 0.375em;
  }

  .skills > ul > li + li,
  .experience > ul > li + li {
    margin-block-start: 2em;
  }

  .body dl {
    font-size: var(--step-0);
  }

  .body dt {
    font-weight: 700;
  }

  .body dl {
    container-type: inline-size;
    display: grid;
    grid-template-columns: 10ch 1fr;
    gap: 0.5em 0;
    margin-block-end: 1em;
  }
</style>
