---
import "@styles/fonts.css";
import "@styles/global.css";

const { title, description = "Daniel Stopp's Homepage and Blog" } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html
  lang="en"
  data-theme="light"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <meta
      name="title"
      content={title}
    />
    <meta
      name="description"
      content={description}
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="/favicon.ico"
    />

    <!-- Canonical URL -->
    <link
      rel="canonical"
      href={canonicalURL}
    />

    <!-- Sitemap Path -->
    <link
      rel="sitemap"
      href="/sitemap-index.xml"
    />

    <!-- RSS Feed -->
    <link
      href="/rss.xml"
      type="application/atom+xml"
      rel="alternate"
      title="Blog Atom feed"
    />

    <!-- Preload Fonts -->
    <link
      rel="preload"
      href="/fonts/DMSans-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/DMSans-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/DMSerifDisplay-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <title>{title}</title>

    <!-- Open Graph / Facebook -->
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:url"
      content={Astro.url}
    />
    <meta
      property="og:title"
      content={title}
    />
    <meta
      property="og:description"
      content={description}
    />
    <meta
      property="og:image"
      content={new URL("/images/home.jpg", Astro.url)}
    />

    <!-- Twitter -->
    <meta
      property="twitter:card"
      content="summary_large_image"
    />
    <meta
      property="twitter:url"
      content={Astro.url}
    />
    <meta
      property="twitter:title"
      content={title}
    />
    <meta
      property="twitter:description"
      content={description}
    />
    <meta
      property="twitter:image"
      content={new URL("/images/home.jpg", Astro.url)}
    />
  </head>

  <body>
    <slot />
  </body>
</html>
