---
import BaseLayout from "@layout/BaseLayout.astro";
import MainHeader from "@components/layout/MainHeader.astro";
import MainFooter from "@components/layout/MainFooter.astro";

const title = Astro.props?.title ?? Astro.site;
---

<BaseLayout {title}>
  <MainHeader {title} />
  <main
    id="main"
    class:list={["main"]}
  >
    <section class="section">
      <slot />
    </section>
  </main>
  <MainFooter />
</BaseLayout>

<style is:global>
  .main {
    container: main / inline-size;
    max-width: var(--max-app-width);
    padding-block: 6em 3em;
    margin: 0 auto;
  }

  .section {
    --max-width: var(--max-text-width);
    --padding: 4vw;

    container: section / inline-size;
    display: grid;
    grid-template-columns:
      minmax(var(--padding), 1fr)
      min(var(--max-width), calc(100% - 2 * var(--padding)))
      minmax(var(--padding), 1fr);

    > * {
      grid-column: 2 / 3;
    }

    > .full-width {
      grid-column: 1 / -1;
    }
  }
</style>
