---
import BaseLayout from "@layout/BaseLayout.astro";
// import MainHeader from "@components/layout/MainHeader.astro";
// import MainFooter from "@components/layout/MainFooter.astro";

const title = Astro.props?.title ?? Astro.site;
---

<BaseLayout {title}>
  <!-- <MainHeader {title} /> -->
  <main
    id="main"
    class:list={["main"]}
  >
    <section class="section">
      <slot />
    </section>
  </main>
  <!-- <MainFooter /> -->
</BaseLayout>

<style is:global>
  @media not print {
    .main {
      container: main / inline-size;
      max-width: var(--max-app-width);
      margin: 0 auto;
      padding-block: 6em 3em;
    }

    .section {
      display: grid;
      grid-template-columns: 28ch 1fr;
      gap: 3em;
    }
  }

  @page {
    size: A4;
  }

  @media print {
    .main {
      padding-block: 3em 1.5em;
      font-size: 0.5em;
    }

    table,
    img {
      page-break-inside: avoid;
    }

    body {
      font:
        12pt Georgia,
        "Times New Roman",
        Times,
        serif;
      line-height: 1.3;
    }
  }
</style>
