---
import { REPO_URL } from "@consts";
import { footer, type LinkItem } from "@data/navigation";

const { pathname } = Astro.url;

function isActive(href: string, matches: string[]): boolean {
  const paths = matches.concat(href);
  return paths.some((href) => {
    return href === "/" ? href === pathname : pathname.startsWith(href);
  });
}
---

<footer
  id="footer"
  class="main-footer"
  role="contentinfo"
>
  <section class="footer-menu">
    <div class="app-info">
      <p>
        Built by <a href="/">Daniel Stopp</a> with <a
          href="https://astro.build"
          target="_blank"
          >Astro</a
        > and copious amounts caffeine.
        <a
          href={REPO_URL}
          target="_blank"
          >Code and content</a
        > of my homepage are <a
          href="https://en.wikipedia.org/wiki/MIT_License"
          target="_blank"
          >MIT licensed</a
        >.
      </p>
    </div>

    {
      footer.length > 0 && (
        <ul
          id="menu"
          class="menu"
          role="menubar"
          aria-labelledby="menu-button"
          aria-controlledby="menu-button"
          aria-expanded="false"
        >
          {footer.map((link: LinkItem) => (
            <li
              class="menu__item"
              role="presentation"
            >
              <a
                href={link.href}
                role="menuitem"
                aria-current={isActive(link.href, link.matches) ? "page" : false}
                class="menu__link"
              >
                {link.title}
              </a>
            </li>
          ))}
        </ul>
      )
    }
  </section>
</footer>

<style>
  .main-footer {
    position: relative;
    max-width: var(--max-app-width);
    padding: 0 var(--default-side-padding);
    margin: 0 auto;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 3em;
    padding: 2em 0;
  }

  .app-info {
    font-size: var(--step--1);
    line-height: 2;
    text-align: center;
    margin: 0 0 2rem;
  }

  .app-info p {
    color: var(--color-text-muted);
    margin: 0;
  }

  .menu {
    list-style-type: none;
    font-size: var(--step--1);
  }

  .menu__item {
    display: inline;
  }

  .menu__item::after {
    content: "\2022";
    display: inline-block;
    margin: 0 0.25em;
  }

  .menu__item:last-child::after {
    display: none;
  }

  .menu__link {
    display: inline-block;
  }
</style>
