---
import MainNavigation from "@components/layout/MainNavigation.astro";
---

<header class="main-header">
  <MainNavigation />
</header>

<script>
  const mainHeader = document.querySelector(".main-header");

  const intersectionProbe = document.createElement("div");
  intersectionProbe.setAttribute("data-intersection-probe", "");
  intersectionProbe.setAttribute("aria-hidden", "true");

  if (mainHeader) {
    mainHeader.before(intersectionProbe);

    const observer = new IntersectionObserver(([entry]) => {
      mainHeader.classList.toggle("sticky", !entry.isIntersecting);
    }, {
      rootMargin: "50px 0px 0px 0px",
    });

    observer.observe(intersectionProbe);
  }
</script>

<style>
  .main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  .main-header.sticky {
    animation: 400ms header forwards;
  }

  @keyframes header {
    0% {
      background-color: transparent;
      box-shadow: inset 0px -1px 0px transparent;
    }
    100% {
      background-color: var(--color-box-muted);
      box-shadow: inset 0px -1px 0px var(--color-box-border);
    }
  }
</style>
