---
import { header as navItems } from "@data/navigation";
import LogoLink from "@components/LogoLink.astro";
import ThemeSwitch from "@components/ThemeSwitch.astro";

const { pathname } = Astro.url;

function isActive(href: string, matches: string[]): boolean {
  const paths = matches.concat(href);
  return paths.some((href) => {
    return href === "/" ? href === pathname : pathname.startsWith(href);
  });
}
---

<nav
  id="navigation"
  class="navigation"
>
  <LogoLink href="/">daniel.stopp.dev</LogoLink>

  <a
    class="screen-readers-only"
    href="#main"
  >
    Skip to content
  </a>

  <div class="drop-menu">
    <div class="drop-menu-wrapper">
      <input
        type="checkbox"
        class="more-input"
        id="more"
        aria-hidden="true"
        tab-index="-1"
      />
      <ul class="menu">
        {
          navItems.map((item) => (
            <li>
              <a
                class="banner-link"
                href={item.href}
                role="menuitem"
                aria-current={isActive(item.href, item.matches) ? "page" : false}
              >
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
      <label
        class="banner-link more-label"
        for="more"
      >
        <span class="screen-readers-only">Toggle More</span>
      </label>
    </div>
  </div>

  <ThemeSwitch />
</nav>

<style>
  .navigation {
    max-width: var(--max-app-width);
    margin: 0 auto;
    font-size: var(--step-0);
    display: flex;
    justify-content: flex-end;
    max-height: 3.2em;
  }

  .more-input {
    display: none;
  }

  .more-input:checked ~ .menu {
    max-height: none;
  }

  .more-label {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    white-space: nowrap;
    align-self: flex-start;
    padding: 0 1.5em;
    margin-right: -1.5em;
  }

  .more-input:checked ~ .more-label .more,
  .more-input:not(:checked) ~ .more-label .less {
    display: none;
  }

  .more-label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-style: solid;
    border-width: 0.35em 0.35em 0 0.35em;
    border-color: var(--color-gray-500) transparent transparent transparent;
  }

  .more-input:checked ~ .more-label::after {
    border-style: solid;
    border-width: 0 0.35em 0.35em 0.35em;
    border-color: transparent transparent var(--color-gray-500) transparent;
  }

  .search {
    margin-left: auto;
  }

  .drop-menu-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 0 1.5em;
    max-width: 48rem;
    background-color: var(--color-box-muted);
    box-shadow: inset 0px -1px 0px var(--color-box-border);
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--step-0);
    gap: 0 1.5em;
    max-height: 3.2em;
    overflow: hidden;
    margin: 0;
  }

  .menu li {
    margin: inherit;
  }

  .banner-link {
    position: relative;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: var(--step-0);
    min-height: 3.2em;
    color: var(--color-primary);
  }

  .banner-link:hover {
    color: var(--color-primary-muted);
  }

  .banner-link[aria-current="page"]::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid var(--color-box-border);
    border-left: 0.5em solid transparent;
  }
</style>
