---
const { title } = Astro.props;
---

<footer class="page-footer">
  {title ?? <h2>{title}</h2>}
  <slot />
</footer>

<style>
  .page-footer {
    padding: 2em var(--default-side-padding) 1em;
    margin: 3em calc(-1 * var(--default-side-padding)) 0;
    background-color: var(--color-box-muted);
    box-shadow:
      inset 0px 1px 0px var(--color-box-border),
      inset 0px -1px 0px var(--color-box-border);
  }
</style>
