---
const { type = "page" } = Astro.props;
---

<section class:list={["page-content", type]}>
  <slot />
</section>

<style>
  .page-content {
    max-width: var(--max-text-width);
    margin: 0 auto;
  }

  .page-content.post :global(ul),
  .page-content.post :global(ol) {
    list-style-type: square;
    padding-left: 1em;
    margin: 1em 0 1.5em 0;
  }

  .page-content.post :global(ol) {
    list-style-type: roman;
  }

  .page-content.post :gloabl(:not(pre) code) {
    display: inline-flex;
    line-height: inherit;
    padding: 0 0.25em;
    font-size: 87.5%;
    border-radius: 0.2em;
    background-color: var(--color-box-muted);
    background-color: rgba(0, 0, 0, 0.075);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
  }
</style>
