---
const { title } = Astro.props;
---

<header class="page-header full-width">
  <hgroup class="wrapper">
    <h1>{title}</h1>
    <slot />
  </hgroup>
</header>

<style>
  .page-header {
    background-color: var(--color-box-muted);
    box-shadow:
      inset 0px 1px 0px var(--color-box-border),
      inset 0px -1px 0px var(--color-box-border);
    padding: 1em var(--default-side-padding) 2em;
    margin-block: 0 5em;

    > * {
      max-width: var(--max-text-width);
      margin: 0 auto;
    }
  }
</style>
