---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import PageLayout from "@layout/PageLayout.astro";
import PageHeader from "@components/layout/PageHeader.astro";
import PageContent from "@components/layout/PageContent.astro";
import Pagination from "@components/Pagination.astro";
import { PAGE_SIZE } from "@consts";

export const getStaticPaths = (async ({ paginate }) => {
  const authors = await getCollection("authors");

  return paginate(authors, {
    pageSize: PAGE_SIZE,
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

---

<PageLayout title={`Authors`}>
  <PageHeader title="Authors">
    <p>An extensive list of &hellip; me. Psst, this page is not publically linked, because I'm currently the only author, it's my homepage, after all. However, I've designed the web site so that I could feature others authors and their posts, so if you like my blog and would like to publish a post on my blog, drop me a line.</p>
  </PageHeader>

  <PageContent>
    <ul class="author-list">
      {page.data.map((author) => (
        <li>
          <h2>
            <a href={`/authors/${author.slug}`}>
              {author.data?.name}
            </a>
          </h2>
        </li>
      ))}
    </ul>
  </PageContent>

  <Pagination {page} basePath="/blog/" />
</PageLayout>
