---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import PageLayout from "@layout/PageLayout.astro";
import PageHeader from "@components/layout/PageHeader.astro";
import PageContent from "@components/layout/PageContent.astro";
import Pagination from "@components/Pagination.astro";
import { PAGE_SIZE } from "@consts";

export const getStaticPaths = (async ({ paginate }) => {
  const links = await getCollection("links", ({ data }) => !data.draft && data.pubDate <= new Date());

  const sortedLinks = [...links].sort((a, b) => Number(new Date(b.data.pubDate)) - Number(new Date(a.data.pubDate)));

  return paginate(sortedLinks, {
    pageSize: PAGE_SIZE,
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

function formatList(tasks: string[]) {
  return new Intl.ListFormat("en", {
    style: "long",
    type: "conjunction",
  }).format(tasks);
}
---

<PageLayout title={`Links`}>
  <PageHeader title="Links">
    <p>
      Here I collect links to blog, websites and channels I regularly read along with their RSS feeds, if any. I
      particularly like content about different perspectives of web development and design, music, literature and book
      reviews, but you'll find links to other stuff here as well.
    </p>
  </PageHeader>

  <PageContent>
    <ul class="link-list">
      {
        page.data.map(({ data }) => (
          <li class="links">
            <h3>{data.name}</h3>
            <p>{data.summary}</p>
            <dl>
              <dt>Topics:</dt>
              <dd>{formatList(data.topics)}</dd>
              <dt>Links:</dt>
              <dd>
                {data.projects.map(({ href, rss, title }) => (
                  <>
                    <a href={href}>{title}</a>
                    {rss && (
                      <>
                        {" "}
                        (<a href={rss}>RSS</a>)
                      </>
                    )}
                  </>
                ))}
              </dd>
            </dl>
          </li>
        ))
      }
    </ul>
  </PageContent>

  <Pagination
    {page}
    basePath="/links/"
  />
</PageLayout>

<style>
  .link-list {
    margin: 0 0 3em 0;
  }

  .link-list > li + li {
    margin: 3em 0 0;
  }

  dl {
    margin: 0.5em 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 0.5em;
    font-size: var(--step-0);
  }

  dt {
    font-weight: 700;
    margin: 0 0.25em 0 0;
  }
</style>
