---
import type { Work } from "@data/cv";
import { data } from "@data/cv";
import PageLayout from "@layout/PageLayout.astro";
import PageHeader from "@components/layout/PageHeader.astro";
import PageContent from "@components/layout/PageContent.astro";
import PageFooter from "@components/layout/PageFooter.astro";

function formatList(tasks: string[]) {
  return new Intl.ListFormat("en", {
    style: "long",
    type: "conjunction",
  }).formatToParts(tasks);
}
---

<PageLayout title="Curriculum Vitae">
  <PageHeader title="Curriculum Vitae">
    <p>My personal data sheet, focussing on my line of work.</p>
  </PageHeader>

  <PageContent>
    <h2>Education</h2>
    {data.education.map((item: string) => <p>{item}</p>)}

    <h2>Career</h2>
    <ol class="cv">
      {
        data.work.map((item: Work) => (
          <li class="work-item">
            <article>
              <header>
                <h3>
                  <a href={item.employer.href}>{item.employer.name}</a>
                  <span>({item.title})</span>
                </h3>
              </header>

              <section class="details">
                <dl>
                  <dt>Duration:</dt>
                  <dd>
                    {item?.to ? "" : "Since"} {item.from} {item?.to ? `to ${item.to}` : ""}
                  </dd>
                  <dt>Tasks:</dt>
                  <dd>
                    {formatList(item.tasks).map((item: any) =>
                      item.type === "element" ? <span>{item.value}</span> : item.value,
                    )}
                  </dd>
                </dl>
              </section>

              <details class="job-details">
                <summary>Details</summary>
                {item.description}
              </details>
            </article>
          </li>
        ))
      }
    </ol>
  </PageContent>
  <PageFooter>
    <h2>Current status</h2>
    <p>{data.status}</p>
    <p><a href="mailto:daniel@stopp.dev">daniel@stopp.dev</a></p>
  </PageFooter>
</PageLayout>

<style>
  .education {
    margin: 0 0 3em;
  }

  header {
    margin: 0 0 1em;
  }

  header h3 {
    margin: 0 0 0.5em;
  }

  header h4 {
    margin: 0;
  }

  .work {
    padding: 2em;
  }

  .work-item {
    margin-bottom: 3em;
  }

  dl {
    display: flex;
    align-items: center;
    gap: 0.75em;
    font-size: var(--step-0);
  }

  dt {
    font-weight: 700;
  }

  .tasks p {
    font-size: var(--step-0);
  }

  .tasks span {
    font-weight: 700;
  }

  .details dl {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  details {
    font-size: var(--step-0);
    margin: 0.25em calc(-1 * var(--default-side-padding));
    padding: 0.5em var(--default-side-padding) 0.5em;
  }

  details[open] {
    background-image: linear-gradient(to bottom, transparent, var(--color-box-muted));
    box-shadow: inset 0px -1px 0px var(--color-box-border);
  }

  summary {
    cursor: pointer;
    user-select: none;
    font-weight: 700;
    margin: 0 0 0.75em;
    color: var(--color-primary);
  }

  summary:hover {
    color: var(--color-primary-muted);
  }

  details > summary {
    list-style: none;
  }

  details > summary::marker,
  details > summary::-webkit-details-marker {
    display: none;
  }
</style>
