@font-face {
  font-family: "DMMono";
  src: url("/fonts/DMMono-Regular.woff2") format("woff2"),
       url("/fonts/DMMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Regular.woff2") format("woff2"),
       url("/fonts/DMSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Italic.woff2") format("woff2"),
       url("/fonts/DMSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Bold.woff2") format("woff2"),
       url("/fonts/DMSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-BoldItalic.woff2") format("woff2"),
       url("/fonts/DMSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DMSerifDisplay";
  src: url("/fonts/DMSerifDisplay-Regular.woff2") format("woff2"),
       url("/fonts/DMSerifDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #ff0054;
  --color-secondary: #ed254e;

  --color-white: #FCFCFC;
  --color-gray-100: #F8F8F8;
  --color-gray-200: #DCDCDC;
  --color-gray-300: #C8C8C8;
  --color-gray-400: #ACACAC;
  --color-gray-500: #989898;
  --color-gray-600: #7C7C7C;
  --color-gray-700: #686868;
  --color-gray-800: #4C4C4C;
  --color-gray-900: #383838;
  --color-black: #1C1C1C;

  --color-link: var(--color-primary);
  --color-link--active: var(--color-secondary);
  --color-link--hover: var(--color-secondary);

  --type-face-sans: "DMSans", sans-serif;
  --type-face-serif: "DMSerifDisplay", serif;
  --type-face-code: "DMMono", monospace;

  --color-text-body: var(--color-gray-800);
  --color-text-footer: var(--color-gray-600);

  --max-app-width: 168rem;
  --max-text-width: 56ch;
  --default-side-padding: clamp(1.2rem, 1.2rem + 2vw, 4.8rem);

  --step--2: clamp(0.89rem, calc(0.67rem + 0.96vw), 1.44rem);
  --step--1: clamp(1.00rem, calc(0.69rem + 1.39vw), 1.80rem);
  --step-0: clamp(1.13rem, calc(0.68rem + 1.96vw), 2.25rem);
  --step-1: clamp(1.27rem, calc(0.66rem + 2.69vw), 2.81rem);
  --step-2: clamp(1.42rem, calc(0.61rem + 3.64vw), 3.52rem);
  --step-3: clamp(1.60rem, calc(0.51rem + 4.86vw), 4.39rem);
  --step-4: clamp(1.80rem, calc(0.36rem + 6.42vw), 5.49rem);
  --step-5: clamp(2.03rem, calc(0.13rem + 8.42vw), 6.87rem);


  --step--2: clamp(0.99rem, calc(0.75rem + 1.07vw), 1.60rem);
  --step--1: clamp(1.11rem, calc(0.76rem + 1.55vw), 2.00rem);
  --step-0: clamp(1.25rem, calc(0.76rem + 2.17vw), 2.50rem);
  --step-1: clamp(1.41rem, calc(0.73rem + 2.99vw), 3.13rem);
  --step-2: clamp(1.58rem, calc(0.67rem + 4.04vw), 3.91rem);
  --step-3: clamp(1.78rem, calc(0.57rem + 5.40vw), 4.88rem);
  --step-4: clamp(2.00rem, calc(0.40rem + 7.13vw), 6.10rem);
  --step-5: clamp(2.25rem, calc(0.15rem + 9.35vw), 7.63rem);
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: var(--step-1);
  line-height: 1.5;
  scroll-behavior: smooth;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text-body);
}

body, input, button, select {
  font-family: var(--type-face-sans);
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

a:hover {
  color: var(--color-link--hover);
}

a:active {
  color: var(--color-link--active);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen-readers-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

h1, h2, h3, h4, h5, h6,
[role="heading"] {
  position: relative;
  font-weight: 400;
  line-height: 1.125;
  margin: 1.5em 0 0.75em;
  font-family: var(--type-face-serif);
  color: var(--color-text-body);
}

/*
:is(h1, h2, h3, h4, h5, h6)::before {
  content: "";
}
*/

h1 {
  font-size: var(--step-5);
  margin: 1em 0 0.5em;
  color: var(--color-gray-800);
}

h2,
[role="heading"] {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}

p, li {
  margin: 0 0 0.5em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

em + em + em + em + em {
  font-style: normal;
  font-weight: 800;
}

pre.astro-code {
  padding: 1em;
  border-radius: 1px;
  margin: 2em auto;
  font-size: var(--step-0);
}

pre.astro-code code {
  font-family: var(--type-face-code);
  font-weight: 400;
}

.info,
.main {
  max-width: var(--max-text-width);
  margin: 0 auto;
  padding: 0 var(--default-side-padding);
}

.info nav {
  background-color: var(--color-gray-100);
  padding: 2em var(--default-side-padding) 1em;
  margin: 0 calc(-1 * var(--default-side-padding));
  background-color: var(--color-gray-100);
  box-shadow: inset 0px 1px 0px var(--color-gray-200), inset 0px -1px 0px var(--color-gray-200);
}

.main {
  padding: 2em var(--default-side-padding);
}

small {
  color: var(--color-gray-600);
}
