---
import { getEntry } from "astro:content";

import PageLayout from "@layout/PageLayout.astro";
import PageHeader from "@components/layout/PageHeader.astro";
import PageContent from "@components/layout/PageContent.astro";

const { name } = Astro.props;
const page = await getEntry("pages", name);
const { Content } = await page!.render();
---

<PageLayout title={page?.data?.title}>
  <PageHeader title={page?.data?.title}>
    {page?.data?.summary}
  </PageHeader>
  <PageContent>
    <Content />
  </PageContent>
</PageLayout>
