---
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from 'astro:content';
import dayjs from "dayjs";
import { getCollection } from "astro:content";

import PageLayout from "@layout/PageLayout.astro";
import PageHeader from "@components/layout/PageHeader.astro";
import PageContent from "@components/layout/PageContent.astro";
import PostSummary from "@components/blog/PostSummary.astro";
import Pagination from "@components/Pagination.astro";
import { BLOG_PATH, PAGE_SIZE } from "@consts";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("posts", ({ data }) => (
    !data.draft && data.pubDate <= new Date()
  ));

  const sortedPosts = [...posts].sort((a, b) => (
    Number(new Date(b.data.pubDate)) - Number(new Date(a.data.pubDate))
  ));

  const allCategories = posts.flatMap((post) => post.data?.categories);
  const uniqueCategories = [...new Set(allCategories)];

  return uniqueCategories.flatMap((category) => {
    const postsByYear = sortedPosts.reduce((acc, post) => {
      if (!post.data.categories?.includes(category)) return acc;
      const year = dayjs(post.data.pubDate).format("YYYY");
      if (!acc[year]) {
        acc[year] = [];
      }
      acc[year].push(post);
      return acc;
    }, {} as Record<string, any>);

    const pageData = Object.entries(postsByYear).flatMap(([year, posts]) => ({ year, posts }));

    return paginate(pageData, {
      params: {
        category,
      },
      props: {
        categories: uniqueCategories,
      },
      pageSize: PAGE_SIZE,
    });
  });
}) satisfies GetStaticPaths;

const { category } = Astro.params;
const { page } = Astro.props;

---

<PageLayout title={`Category: ${category}`}>
  <PageHeader title="Category">
    <p>All posts in the category <span class="label">{category}</span></p>
  </PageHeader>

  <PageContent>
    <ul>
      {page.data.map((entry: any) => (
        <li>
          <h3>{entry.year}</h3>
          <ul class="post-list">
            {entry.posts.map((post: CollectionEntry<'posts'>) => (
              <li class="post-list__item">
                <PostSummary {post} />
              </li>
            ))}
          </ul>
        </li>
      ))}
    </ul>
  </PageContent>

  <Pagination {page} basePath={`${BLOG_PATH}/categories/${category}/`} />
</PageLayout>

<style>
  .label::before {
    content: "\201E";
  }

  .label::after {
    content: "\201D";
  }
</style>
