---
import dayjs from "dayjs";

const { date, format = "MMM DD, YYYY", classes } = Astro.props;
const isoDate = dayjs(date).format("z");
const customDate = dayjs(date).format(format);
---

<time datetime={isoDate} title={isoDate} class:list={["datetime", classes]}>
  {customDate}
</time>

<style>
  .datetime {
    display: inline;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  }
</style>
