---
---

<div class="note">
  <slot />
</div>

<style is:inline>
  .note {
    background: var(--color-box-muted);
    background: rgba(32, 64, 240, 0.05);
    padding: 1em var(--default-side-padding);
    margin: 0 calc(-1 * var(--default-side-padding));
    box-shadow: inset 0px -1px 0px var(--color-box-border);
  }

  .note::before {
    content: "!";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    aspect-ratio: 1/1;
    font-weight: 700;
    background: cornflowerblue;
    border-radius: 50%;
    color: white;
  }
</style>


