---
const { href } = Astro.props;
---

<a {href} class="logo-link">
  <slot />
</a>

<style>
  .logo-link {
    position: relative;
    z-index: 9999;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    align-self: flex-start;
    font-weight: 700;
    letter-spacing: 0.025em;
    line-height: 1;
    font-size: var(--step-0);
    min-height: 3.2em;
    padding: 0 var(--default-side-padding);
    background-color: var(--color-primary);
    color: var(--color-text-logo);

    margin-right: auto;
  }

  .logo-link:hover,
  .logo-link:active {
    background-color: var(--color-primary-muted);
    color: var(--color-text-logo);
  }
</style>
