---
const { page, basePath, max = 2 } = Astro.props;

const firstPage = basePath;
const lastPage = `${firstPage}${page.lastPage}`;
const pageNumberList = Array.from({length: page.lastPage}, (_, index) => index + 1);
---

{page.lastPage > 1 && (
  <nav class="pagination">
    <ul class="pagination__list">
      {page.url.prev && (
        <Fragment>
          <li class="pagination__list-item">
            <a href={firstPage} rel="first">
              First
            </a>
          </li>
          <li class="pagination__list-item">
            <a href={page.url.prev} rel="prev">Prev</a>
          </li>
        </Fragment>
      )}

      {pageNumberList.map((number) => (
        <Fragment>
          {(number >= page.currentPage - max && number <= page.currentPage + max) && (
            <li class={`pagination__list-item ${page.currentPage === number ? "pagination__list-item--active" : ""}`}>
              <a href={number === 1 ? firstPage : `${basePath}${number}`}>{number}</a>
            </li>
          )}
          {((number === 1 && number < page.currentPage - max) || (number === page.lastPage && number > page.currentPage + max)) && (
            <li class="pagination__list-item pagination__list-item--disabled">
              <span>&hellip;</span>
            </li>
          )}
        </Fragment>
      ))}

      {page.url.next && (
        <Fragment>
          <li class="pagination__list-item">
            <a href={page.url.next} rel="next">Next</a>
          </li>
          <li class="pagination__list-item">
            <a href={lastPage} rel="last">Last</a>
          </li>
        </Fragment>
      )}
    </ul>
  </nav>
)}

<style>
  .pagination {
    background-color: var(--color-box-muted);
    padding: 0 var(--default-side-padding);
    margin: 0 calc(-1 * var(--default-side-padding)) 3em;
    border-top: 1px solid var(--color-box-border);
    border-bottom: 1px solid var(--color-box-border);
  }

  .pagination__list {
    display: flex;
    align-items: center;
    justify-content: center;
   }

  .pagination__list-item {
    margin: 0;
  }

  .pagination__list-item a,
  .pagination__list-item span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    padding: 2.4rem 1.6rem;
    font-weight: 700;
    min-width: 4ch;
    font-size: var(--step-0);
  }

  .pagination__list-item--active a,
  .pagination__list-item--active a:hover,
  .pagination__list-item--disabled span {
    pointer-events: none;
    opacity: 0.5;
  }
</style>
