---
const { terms, basePath, taxonomyName } = Astro.props;
---

<ul class:list={["taxonomy-term-list", taxonomyName]}>
  {terms.map((term: string) => (
    <li class="taxonmy-term-item">
      <a class="taxonomy-term-link" href={`${basePath}/${term}`}>
        {term}
      </a>
    </li>
  ))}
</ul>
