---
---

<aside class="theme-switch__widget">
  <label class="theme-switch__label" for="theme-switch">
    <input
      type="checkbox"
      id="theme-switch"
      class="theme-switch__input"
    />
    <span class="theme-switch__slider">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1.6em"
        height="1.6em"
        viewBox="0 0 24 24"
        class="icon icon-sun"
      >
        <g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
        >
          <circle cx="12" cy="12" r="4"/>
          <path d="M12 3v2m0 14.004v2M5 12H3m18 0h-2m0-7l-2 2M5 5l2 2m0 10l-2 2m14 0l-2-2"/>
        </g>
      </svg>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1.6em"
        height="1.6em"
        viewBox="0 0 24 24"
        class="icon icon-moon"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M21 12.808c-.5 5.347-5.849 9.14-11.107 7.983C-.078 18.6 1.15 3.909 11.11 3C6.394 9.296 14.618 17.462 21 12.808Z"
        />
      </svg>
    </span>
  </label>
</aside>

<script is:inline>
  const themeSwitch = document.getElementById("theme-switch");
  const theme = localStorage.getItem("theme");

  if (theme) {
    document.documentElement.dataset.theme = theme;

    if (theme === "dark") {
      themeSwitch.checked = true;
    }
  }

  function switchTheme(event) {
    const theme = event.target.checked ? "dark" : "light";
    document.documentElement.dataset.theme = theme;
    localStorage.setItem("theme", theme);
  }

  if (themeSwitch) {
    themeSwitch.addEventListener("change", switchTheme, false);
  }
</script>

<style>
  .theme-switch__widget {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color-box-muted);
    border-bottom: 1px solid var(--color-box-border);
    padding: 0 0.75em 0 0.25em;
    color: white;
  }

  .theme-switch__label {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2.4em;
    width: 4.8em;
    border-radius: 2.4em;
    box-shadow: 0px 0px 3px var(--color-gray-500);
    cursor: pointer;
  }

  html[data-theme="light"] .theme-switch__label {
    background-color: var(--color-white);
  }

  html[data-theme="dark"] .theme-switch__label {
    background-color: var(--color-black);
  }

  .theme-switch__input {
    display: none;
  }

  .theme-switch__input + .theme-switch__slider {
    color: var(--color-white);
  }

  .theme-switch__input:checked + .theme-switch__slider {
    color: var(--color-white);
  }

  .theme-switch__input + .theme-switch__slider::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0.3em;
    left: 0.3em;
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    transition: 500ms transform var(--bezier-curve), 500ms background-color var(--bezier-curve);
    background-color: var(--color-gray-700);
  }

  .theme-switch__input:checked + .theme-switch__slider::before {
    transform: translate3d(2.4em, 0, 0);
    background-color: var(--color-gray-200);
  }

  .theme-switch__slider svg {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }

  .theme-switch__slider .icon-sun {
    left: 0.5em;
    color: var(--color-gray-100);
  }

  .theme-switch__slider .icon-moon {
    right: 0.5em;
    color: var(--color-gray-900);
  }
</style>
