---
import type { GetStaticPaths } from "astro";
import dayjs from "dayjs";
import { getCollection } from "astro:content";

import PageLayout from "@layout/PageLayout.astro";
import PageHeader from "@components/layout/PageHeader.astro";
import PageContent from "@components/layout/PageContent.astro";
import PostSummary from "@components/blog/PostSummary.astro";
import Pagination from "@components/Pagination.astro";
import { BLOG_PATH, PAGE_SIZE } from "@consts";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("posts", ({ data }) => (
    !data.draft && data.pubDate <= new Date()
  ))

  const sortedPosts = [...posts].sort((a, b) => (
    Number(new Date(b.data.pubDate)) - Number(new Date(a.data.pubDate))
  ));

  const postMap = sortedPosts.reduce((acc, post) => {
    const year = dayjs(post.data.pubDate).format("YYYY");
    if (!acc[year]) acc[year] = [];
    acc[year].push(post);
    return acc;
  }, {} as Record<string, any[]>);

  const postsByDate = Object.entries(postMap).map(([year, posts]) => ({
    year,
    posts,
  })).sort((a, b) => Number(b.year) - Number(a.year));

  return paginate(postsByDate, {
    pageSize: PAGE_SIZE,
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

---

<PageLayout title="Blog">
  <PageHeader title="Blog">
    <p>Here is where I publish tipps, tricks, tutorials, thought experiments, ideas and interesting things I've learned during development at work or while developing personal projects.</p>
  </PageHeader>

  <PageContent>
    <ul>
      {page.data.map(({ year, posts }) => (
        <li>
          <h3>{year}</h3>
          <ul class="post-list">
            {posts.map((post) => (
              <li class="post-list__item">
                <PostSummary {post} />
              </li>
            ))}
          </ul>
        </li>
      ))}
    </ul>
  </PageContent>

  <Pagination {page} basePath={`${BLOG_PATH}/`} />
</PageLayout>
