---
import { BLOG_PATH } from "@consts";

import DateTime from "@components/DateTime.astro";

const { post, title, dir } = Astro.props;
---

{post && (
  <article class:list={["preview", dir]}>
    <DateTime date={post.data.pubDate} />
    <h4>{post.data.title}</h4>
    <a href={`${BLOG_PATH}/${post.slug}`}>{title}</a>
  </article>
)}

<style>
  .preview {
    flex: 0 0 50%;
    font-size: var(--step--1);
  }

  .preview.prev {
    text-align: left;
    margin: 0 auto 0 calc(-1 * var(--default-side-padding));
    padding: 0 0 0 var(--default-side-padding);
  }

  .preview.next {
    text-align: right;
    margin: 0 calc(-1 * var(--default-side-padding)) 0 auto;
    padding: 0 var(--default-side-padding) 0 0;
  }

  h4 {
    display: flex;
    font-size: var(--step-2);
    line-height: 1.125;
    min-height: 2.25em;
    margin: 0.25em 0;
  }

  .prev h4 {
    justify-content: flex-start;
  }

  .next h4 {
    justify-content: flex-end;
  }

  a {
    font-size: var(--step-0);
  }

  @media screen and (max-width: 1080px) {
    h4 {
      min-height: 3.725em;
    }
  }
</style>
