---
import DateTime from "@components/DateTime.astro";
import { BLOG_PATH } from "@consts";

const { post } = Astro.props;
const { data, slug } = post;
---

<article class="post-summary">
  <DateTime date={data.pubDate} format={"MMM DD"} />
  <h3>
    <a href={`${BLOG_PATH}/${slug}`}>{data.title}</a>
  </h3>
</article>

<style>
  .post-summary {
    margin: 2em 0;
    font-size: var(--step-0);
  }

  h3 {
    margin: 0.25em 0 0.75em;
  }
</style>
