---
import PageHeader from "@components/layout/PageHeader.astro";
import DateTime from "@components/DateTime.astro";
import PageContent from "@components/layout/PageContent.astro";
import PageFooter from "@components/layout/PageFooter.astro";
import PostPreview from "@components/blog/PostPreview.astro";
import { BLOG_PATH } from "@consts";

const { post, previousPost, nextPost } = Astro.props;
const { data } = post;

const { Content } = await post!.render();
---

<article class="post">
  <PageHeader title={post.data.title}>
    <ul class="post__meta">
      <li class="post__meta__item">
        Posted on
        <DateTime date={data.pubDate} />
      </li>
      <li class="post__meta__item">
        in
        {data.categories.map((category: string, index: number) => (
          <span>{index > 0 && (data.categories.length - index > 1 ? ", " : " and ")}
          <a href={`${BLOG_PATH}/categories/${category}`}>{category}</a></span>
        ))}
      </li>
    </ul>
  </PageHeader>

  <PageContent type="post">
    <Content />
  </PageContent>

  <PageFooter>
    <div class="previews">
      <PostPreview
        title="\u2190 Previous Post"
        post={previousPost}
        dir="prev"
      />

      <PostPreview
        title="Next Post \u2192"
        post={nextPost}
        dir="next"
      />
    </div>
  </PageFooter>
</article>

<style>
  .post__meta {
    list-style-type: none;
    display: inline;
  }

  .post__meta__item {
    display: inline;
    font-size: var(--step-0);
  }

  .previews {
    display: flex;
    padding: 1em 0 2em;
  }
</style>
