@font-face {
  font-family: "DMMono";
  src: url("/fonts/DMMono-Regular.woff2") format("woff2"),
       url("/fonts/DMMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Regular.woff2") format("woff2"),
       url("/fonts/DMSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Italic.woff2") format("woff2"),
       url("/fonts/DMSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Bold.woff2") format("woff2"),
       url("/fonts/DMSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-BoldItalic.woff2") format("woff2"),
       url("/fonts/DMSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DMSerifDisplay";
  src: url("/fonts/DMSerifDisplay-Regular.woff2") format("woff2"),
       url("/fonts/DMSerifDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

