---
import { Image } from "astro:assets";

import PageLayout from "@layout/PageLayout.astro";
import PageHeader from "@components/layout/PageHeader.astro";

const { author, title } = Astro.props;
const { Content } = await author!.render();
---

<PageLayout title={title || `Authors: ${author.data.name}`}>
  <PageHeader title={`G'day, I'm ${author.data.name}!`}>
    <p>{author.data.summary}</p>
  </PageHeader>

  <article class="author">
    <figure class="author-avatar">
      <Image
        src={author.data.avatarSrc}
        alt={author.data.avatarAlt}
        width={400}
        quality={80}
        format="webp"
        loading="eager"
      />
    </figure>

    <Content />
  </article>
</PageLayout>

<style>
  .author {
    word-break: break-word;
    text-justify: inter-word;
    overflow-wrap: break-word;
  }

  /*
  Floating the avatar looks best. An old-school clear
  both after the container, will make sure the float
  does not ruin the layout.
  */
  .author::after {
    content: "";
    display: block;
    clear: both;
  }

  .author-header {
    flex: 1 1 100%;
  }

  .author-header h1 {
    margin: 0;
  }

  .author-avatar {
    box-shadow:
      0 0 0 3px rgba(255, 255, 255, 0.9),
      0 0 0 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 0.5em 1.5em 0.5em 0;
    max-width: 40rem;
    /* See above for the clearing */
    float: left;
  }

  .author-avatar img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .facts {
    font-size: var(--step-1);
    margin-top: 3em;
  }

  .facts dt {
    font-weight: 700;
    padding: 0;
    line-height: 2;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    margin: 2em 0 0.5em;
  }

  .facts dt:first-of-type {
    margin: 0 0 0.5em;
  }

  .facts dd {
    line-height: 1.6;
  }

  /*
  @media screen and (max-width: 820px) {
    .author-avatar {
      float: none;
      margin: 0 auto 2em;
      max-width: 28rem;
    }
  }
  */
</style>
